<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ログインシステム</title>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{/login.css}">
</head>

<body>
	<div class="login-box">
		<h1>ログイン画面</h1><br>
		
		<form action="/login" method="post">			<!--空欄エラー-->
			<br>
			<input type="text" name="ID" placeholder="ユーザーID" required><br>
			<br>
			<input type="password" name="PASSWORD" placeholder="パスワード" required><br><br>
			<input type="submit" value="ログイン">
		</form>
	</div>
	<!--errorのときは呼び出してエラーメッセージをよびだす-->
	<p th:text="${error}" style="text-align: center;"></p>
</body>

</html>