<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ログインシステム</title>
	<meta charset="utf-8">
</head>

<body>
	<p><a href="/">戻る</a></p>
	<p><a hreh="/login/passEditForm">パスワード変更</a></p>
	
	<div class="login-box">
		<h1>ログイン画面</h1>
		
		<form action="/login/regist" method="post">　				<!--空欄エラー-->
			<input type="text" name="ID" placeholder="ユーザーID" required><br>
			<input type="password" name="password" placeholder="パスワード" required><br><br>
			<input type="submit" value="ログイン">
		</form>
	</div>
	<!--errorのときは呼び出してエラーメッセージをだす-->
	<h1 th:text="${error}">This will be replaced by message</h1>
</body>

</html>