<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ログインシステム</title>
	<meta charset="utf-8">
</head>

<body>
	<p><a href="/login">戻る</a></p>
	
	<div class="login-box">
		<h1>パスワード変更画面</h1>
		<form th:action="@{${step} == 1 ? '/login/LoginPasswordAEdit/verify': '/login/LoginPasswordEdit/update'}" th:object="${LoginEditForm}" method="post">
			<input type="text" th:field="*{User_Id}" readonly><br>
			<div th:if="${step} == 1">
				<input type="password" th:field="{User_Password}" placeholder="現在のパスワード" readonly><br><br>
				<input type="submit" value="ログイン"> 
			</div>
			<div th:if="${step} == 2">
				<input type="password" th:field="{New_Password}" placeholder="新しいパスワード" required><br><br>
				<input type="submit" value="変更">
			</div>
		</form>
		<p th:text="${error}"></p>
	</div>
</body>

</html>